.x{
    font-size: 40px;
    padding: 3px;
    
}
.w{
    color: white;
    background-color: rgb(21, 182, 21);
    
}
.y{
    color: red;
    text-decoration: none;
    background-color: white;
    
}
.i{
    text-decoration: none;
    color: rgb(212, 49, 158);
    background-color: white;
}

.t{
    text-decoration: none;
    color: rgb(61, 167, 209);
    background-color: white;
}

.f{
    text-decoration: none;
    color: rgb(61, 88, 209);
    background-color: white;
}
.l{
    text-decoration: none;
    color:rgb(43, 150, 221); ;
    background-color: white;
}
.s{
    color: white;
    background-color: yellow;
    border-radius: 50%;
}
.g{
    text-decoration: none;
    color: black;
    background-color: white;
    /* background-color: */
}
div{
    text-align: center;
}
body{
    background: url("img5.jpg");
}